body{
    margin:0;
    background:rgb(255,255,255);
    animation:body0 2s 1;
}
@keyframes body0{
	0% {
        opacity:0;
    }
	85%{
    }
}
header{
    background: linear-gradient(
        rgba(50, 50, 50, 0.5), 
        rgba(50, 50, 50, 0.5)
    ), url('../../Ressource/Image/Img/abc_id9_hulot_section_presente.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    height:20vw;
    border-radius:0 0 20vw 0vw;
    box-shadow:2vw 0vw 0vw 0vw #f5b500;
    width:auto;
}
.qui{
    margin:0vw 50vw auto 0vw;
    padding:1vw;
    color:rgb(255,255,255);
    text-shadow: 2vw 2vw 0vw rgba(30,30,30,.3);
    font-size:5vw;
    font-family:Trebuchet MS;
}
.icon_id9{
    position:absolute;
    width:7vw;
    height:7vw;
    object-fit:cover;
    margin-left:35vw;
    margin-top:6vw;
    border-radius:10vw;
    background:#222222;
    border:0.5vw solid #f5b500;
    animation:id9 15s 1;
}
.anime-menu{
    position:fixed;
    top:0;
    height:auto;
    width:100%;
    z-index:500;
}
.anime-menu:hover {transition: all .3s 0s;}
.anime-menu:hover nav{
    transition: all .3s 0s;
    margin-top:0em;
}

nav{
    position:fixed;
    top:0;
    background:rgb(30,30,30);
    height:auto;
    width:100%;
    opacity:0.9;
    margin-top:-4vw;
    transition: all .3s 0s;
}

.barre{
    top:0; 
    width:2vw;
    transition: all .3s 0s;
}
.anime-menu:hover .barre{
    transition: all .3s 0s;
    opacity:0;
}
ul.menu{
    display: table;
    margin:0 auto 0 0;
	padding:0;
	width:40vw;
}
ul.menu li.menu{
    display: table-cell;
    text-decoration:none;
    list-style:none;
}
ul.menu li.menu a{
    font-family: Delimax;
	font-size:1vw;
	margin-top:0em;
	padding:2em;
	display: block;
	position: relative;
	text-align: center; 
	text-decoration: none;
	transition: padding .3s;
	transition: all .3s .1s;
	transition: padding .3s, background .3s;
	padding: 1px 1px 1px 1px;
    color: rgb(255,255,255);
	margin:0% 0% 0% 0%;
	border-radius: 0px;
}
p.d{
    font-family: sans-serif;
	font-size:1vw;   
}
ul.menu li.menu a:hover, 
ul.menu li.menu a:focus{
	transition: all .3s 0s;
	padding: 1px 1px 1px 1px;
	color: rgb(30,30,30);
    background:#f5b500;
}
.objectif{
    font-family:Trebuchet MS;
    width:auto;
    height:auto;
    margin-top:5vw; 
}
.objectif{
    font-family:Trebuchet MS;
    width:auto;
    height:auto;
    margin-top:5vw; 
}
.deroul{
    position:absolute;
    top:5vw;
    z-index:-50;
    color:rgba(200,200,200, .1);
    font-size:15vw;
}
.img_obj{
    background:rgb(30,30,30);
    width:35vw;
    height:30vw;
    margin:1vw;
    margin-right:6vw;
    vertical-align:bottom;
    display:inline-block;
}
.icon_obj{
    width:100%;
    height:100%;
    object-fit:cover;
}
.sous_deroul{
    display:inline-block;
    width:38vw;
    height:auto;
}
.deroul2{
    font-size:3vw;
    text-align:left;
}
.obj{
    display:inline-block;
    margin:0;
    margin-bottom:2vw;
    font-size:1.2vw;
    text-align:left;
}
.cours{
    margin-top:6vw;
}
.block_atelier{
    font-family:Trebuchet MS;
    vertical-align:top;
    display:inline-block;
    font-size:1.1vw;
    height:20vw;
    width:60.2vw;
}
.atelier{
    margin:0;
    position:absolute;
    font-size:12vw;
    z-index:-50;
    color:rgba(200,200,200 , .1);
    margin-top:-5vw;
}
.block_atelier2{
    margin-top:3vw; 
    width:40vw;
}
.block{
    display:inline-block;
    vertical-align:top;
    margin-top:0.3vw;
    background:#222;
    height:20vw;
    width:30vw;
}
.image_note{
    object-fit:cover;
    width:100%;
    height:100%;
}
.block_detail{
    font-family:Trebuchet MS;
    color:#fff; 
    display:none;
    height:20vw;
    width:30vw;
    background:rgb(40,40,40);
    position:absolute;
    animation:body 3s 1;
}
@keyframes body{
	0% {
        width:0vw;
    }
	85%{
    }
}
#titre_detail{
    font-size:2.5vw;
    animation:body2 3s 1;
    margin:1.5vw;
}
#detail{
    text-align:left;
    border-top:1px solid rgb(80,80,80);
    border-bottom:1px solid rgb(80,80,80);
    margin:-0.5vw;
    padding:1.2vw;
    width:25vw;
    font-size:0.9vw; 
    animation:body2 4s 1;
}
@keyframes body2{
	0% {
        font-size:0vw;
        opacity:0;
    }
	30%{
        font-size:0vw;
        opacity:0;
    }
    60%{
        opacity:0;
    }
    70%{
        opacity:0;
    }
    85%{
        opacity:0;
    }
}
.block_note{
    height:20vw;
    width:30vw;
    background:rgba(30,30,30,.5);
    position:absolute;
}
.note{
    z-index:1;
    height:20vw;
    width:10vw;
    background:#222;
    position:absolute;
    border-right:0.1vw solid #f5b500;
}
.icon_note{
    padding:0.5vw;
    height:6vw;
    margin-top:2vw;
}
.icon_dll{
    padding:0vw;
    height:4vw;
    margin-top:0vw;
}
#note{
    margin:0vw; 
    font-size:1vw;
    font-family:Trebuchet MS;
    color:rgb(255,255,255);  
}
.autre_but{
    animation:body2 4s 1;
}
.exemple:hover{
    transition: all .3s 0s;
	background:#f5b500;
    color:rgb(40,40,40);
}
.exemple{
    position:absolute;
    transition: all .3s 0s;
    cursor:pointer;
    margin:0.1vw 0vw 0vw 1.5vw;
    font-size:1.2vw;
    font-family:Iceland;
    background:rgb(40,40,40);
    border:0.1vw solid #f5b500;
    padding:0.5vw;
    color:rgb(255,255,255);
    text-decoration:none;
}
.details:hover{
    transition: all .3s 0s;
	background:#f5b500;
    color:rgb(40,40,40);
}
.details{
    color:rgb(255,255,255);
    text-decoration:none;
    transition: all .3s 0s;
    cursor:pointer;
    margin:0.1vw 0vw 0vw 0vw;
    font-size:1.2vw;
    font-family:Iceland;
    background:rgb(40,40,40);
    border:0.1vw solid #f5b500;
    padding:0.5vw;
}
#block_atel{
    margin-top:6vw;
    right:0vw;
    width:20vw;
    position:absolute;
    font-size:2.3vw;
    font-family:Trebuchet MS;
    color:rgb(255,255,255); 
    text-shadow:0vw 0vw 0vw #f5b500;
}
.heure{
    width:5vw;
    height:5vw;
    background:rgb(40,40,40);
    margin-top:10vw;
    margin-left:17vw;
    position:absolute;
    transform:rotate(45deg);
    border:0.1vw solid #f5b500;
}
#heure{
    font-family:Trebuchet MS;
    font-size:1.5vw;
    color:#f5b500;
    transform:rotate(-45deg);
}
.result_titre{
    margin:0vw 5vw; 
    font-size:15vw;
    position:absolute;
    font-family:Trebuchet MS;
    color:rgba(255,255,255,.1);
}
.autre_info{
    margin-top:5vw;
    background:#f5b500;
    text-align:center;
    height:30vw;
    width:auto;
    border-top:1.5vw solid rgb(40,40,40);
}
.result{
    display:inline-block;
    width:40%;
    height:auto;
}
.result_general{
    display:inline-block;
    width:40%;
    height:auto;
}
.result2{
    margin:1vw;
}
.icon_Fem2{
    padding:1vw;
    height:13vw;
    border-radius:1vw;
    border:0.5vw double rgb(255,255,255);
    border-radius:10vw;
}
#general_result{
    font-family:Berlin Sans FB2;
    font-size:8vw;
    color:#fff;
    margin:-2vw;
}
#nbF2{
    font-family:Berlin Sans FB2;
    font-size:2vw;
    color:rgb(255,255,255);
}
.result1{
   width:18vw;
    display:inline-block;
}
.icon_Fem{
    padding:0.5vw;
    height:5vw;
    border-radius:10vw;
    display:inline-block;
}
#info_Fem{
    display:inline-block;
    width:10vw;
}
#score{
    margin:1vw;
    font-family:Berlin Sans FB2;
    font-size:5vw;
    color:rgb(255,255,255);
}
#nbF{
    margin:0vw;
    font-family:Berlin Sans FB2;
    font-size:1vw;
    color:rgb(255,255,255);
}
#titreS{
    border:2px solid rgb(255,255,255);
    margin:0;
    font-size:1vw;
    height:auto;
    width:10vw;
    font-family:Trebuchet MS;
    color:rgb(255,255,255);  
}
.exemple1:hover{
    transition: all .3s 0s;
	background:#f5b500;
    color:rgb(40,40,40);
}
.exemple1{
    position:absolute;
    transition: all .3s 0s;
    cursor:pointer;
    margin:4vw 0vw 0vw -10vw;
    font-size:1.2vw;
    font-family:Iceland;
    background:rgb(40,40,40);
    border:0.1vw solid #f5b500;
    padding:0.5vw;
    color:rgb(255,255,255);
    text-decoration:none;
}

.exemple2:hover{
    transition: all .3s 0s;
	background:#f5b500;
    color:rgb(40,40,40);
}
.exemple2{
    position:absolute;
    transition: all .3s 0s;
    cursor:pointer;
    margin:4vw 0vw 0vw 1vw;
    font-size:1.2vw;
    font-family:Iceland;
    background:rgb(40,40,40);
    border:0.1vw solid #f5b500;
    padding:0.5vw;
    color:rgb(255,255,255);
    text-decoration:none;
}

.ens{
    background: linear-gradient(
        rgba(50, 50, 50, 0.8), 
        rgba(50, 50, 50, 0.8)
    ), url('../../Ressource/Image/Img/abc_id9_hulot_reunion.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    border-radius:0vw 0vw 0vw 10vw;
    height:20vw;
    width:100%;
    box-shadow:-2vw 0vw 0vw 0vw #f5b500;
}
.ensavoir:hover a{transition: all .3s 0s;color:rgb(40,40,40);}
.ensavoir:hover{
    transition: all .3s 0s;
	background:#f5b500;
    color:rgb(40,40,40);
}
.ensavoir{
    transition: all .3s 0s;
    cursor:pointer;
    margin-top:7vw;
    font-size:2vw;
    font-family:Iceland;
    background:rgb(40,40,40);
    border:0.1vw solid #f5b500;
    padding:1vw;
    color:rgb(255,255,255);
    text-decoration:none;
}

#ensavoir{
    margin-top:8vw;
}
#ensavoir1{
    margin:0;
    padding-top:8vw;
}

footer{
    background:rgb(40,40,40);
    height:auto;
    width:100%; 
    padding-bottom:1vw;
}
.icon_part{
    width:4.5vw;
    margin-top:2vw;
    opacity:0.5;
    transition: all .3s 0s;
    cursor:pointer;
}
.icon_part:hover{
    transition: all .3s 0s;
	opacity:1;
}
.formul{
    margin-top:4vw;
    border-top:0.1vw solid rgb(50,50,50);
    border-bottom:0.1vw solid rgb(50,50,50);
    height:33vw;
    width:95%;
}
.contact{
    display:inline-block;
    vertical-align: top;
    height:auto;
    width:45%;
    margin-top:3vw;
    margin-right:5vw;
}
.titre_contact{
    font-size:1.58vw;
    color:#f5b500;
    font-family:Trebuchet MS;
    text-align:left;
    margin:1vw;
}
#contactC{
    font-size:0.8vw;
    padding:1vw;
    width:18.1vw;
    height:2vw;
    background:rgb(50,50,50);
    font-family:Trebuchet MS;
    color:rgba(255,255,255,.5);
    border:0.1vw solid rgb(40,40,40);
}
#contactC2{
    resize:none;
    font-size:0.8vw;
    font-family:Trebuchet MS;
    padding:1vw;
    width:38.5vw;
    height:8vw;
    background:rgb(50,50,50);
    color:rgba(255,255,255,.5);
    border:0.1vw solid rgb(40,40,40);
}
.conta{
    margin-top:1vw;
    width:auto;
    height:3vw;
    transition: all .3s 0s;
    cursor:pointer;
    font-size:1.5vw;
    font-family:Iceland;
    background:rgb(40,40,40);
    color:rgb(255,255,255);
    border:0.1vw solid #f5b500;
}
.conta:hover{
    transition: all .3s 0s;
	background:#f5b500;
    color:rgb(40,40,40);
}
.infomation{
    margin-top:10vw;
    display:inline-block;
    height:auto;
    width:43vw;
}
.coord{
    display:inline-block;
    padding:1vw;
    font-family:Trebuchet MS;
    color:rgb(255,255,255);
    font-size:1.4vw;
    width:18vw;
    text-align:left;
    border-left:0.1vw solid rgba(200,200,200,.2);
}
#titreS{
    border:1px solid #fff;
    margin-top:2vw;
    font-size:1.5vw;
    height:auto;
    width:13vw;
    font-family:Trebuchet MS;
    color:rgb(255,255,255);  
}
iframe{
    height:23vw;
    width:100%;
}
.sending_message{
    font-family: Helvetica;
    font-size: 18px;
}