@font-face {
  font-family: 'Arial Narrow';
	src: url('../../Ressource/Police/ArialNarrow.ttf');
}
@font-face {
  font-family: 'Berlin Sans FB';
	src: url('../../Ressource/Police/Berlin Sans FB1.TTF');
}
@font-face {
  font-family: 'Berlin Sans FB2';
	src: url('../../Ressource/Police/Berlin Sans FB2.TTF');
}
@font-face {
  font-family: 'Berlin Sans FB3';
	src: url('../../Ressource/Police/Berlin Sans FB.TTF');
}
@font-face {
  font-family: 'Iceland';
	src: url('../../Ressource/Police/Iceland.woff');
}
@font-face {
  font-family: 'Monoton';
	src: url('../../Ressource/Police/Monoton.woff');
}
@font-face {
	font-family: "Delimax";
	src: url('../../Ressource/Police/Delimax.ttf');
}
@font-face {
  font-family: 'The Heart of Everything Demo';
	src: url('../../Ressource/Police/TheHeartof.ttf');
}
@font-face {
	font-family: "athika";
	src: url('../../Ressource/Police/athika.ttf');
}
@font-face {
  font-family: 'Glue';
	src: url('../../Ressource/Police/Glue.otf');
}
@font-face {
  font-family: 'TheHeartof';
	src: url('../../Ressource/Police/TheHeartof.ttf');
}
@font-face {
  font-family: 'DS-DIGIB';
	src: url('../../Ressource/Police/DS-DIGIB.TTF');
}
@font-face {
  font-family: 'Qwerty';
	src: url('../../Ressource/Police/Qwerty.otf');
}
@font-face {
  font-family: 'handwriting';
	src: url('../../Ressource/Police/handwriting.ttf');
}
@font-face {
  font-family: '2048';
	src: url('../../Ressource/Police/2048.ttf');
}
@font-face {
  font-family: 'Rektec';
	src: url('../../Ressource/Police/Rektec.otf');
}